<div class="ui three column stackable grid">
    <div class="column aquis">
        <h3 class="ui top attached header">Developers:</h3>
        <div class="ui attached segment">
            <p>
                Petronel Malutan
            </p>
        </div>
    </div>

    <div class="column aquis">
        <h3 class="ui top attached header">Sponsors:</h3>
        <div class="ui attached segment">
            <p>
                Aquis Grana
            </p>
        </div>
    </div>

    <div class="column aquis">
        <h3 class="ui top attached header">Aquis logo</h3>
        <div class="ui attached segment">
            <img src="{{ asset('bundles/syliusxporterplugin/images/aquis-logo-30px.png') }}"></img>
        </div>
    </div>
</div>

